<p id="notice"><%= notice %></p>

<h1>Gastos de <%= @category.name %></h1>

<%= render @category.spends %>

<h3><%= @total %></h3>

<%= link_to 'Nuevo gasto', new_category_spend_path(@category) %>
<%= link_to 'Regresar', categories_path %>
